{% extends  'ani_app/base.html' %}
{% load static %}

{% block content %}


    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Our Blog</h2>
                        <p>Welcome to the official Anime blog.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                {% for post in page_obj %}
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog__item set-bg" data-setbg={{ post.image.url }}>
                                <div class="blog__item__text">
                                    <p><span class="icon_calendar"></span> {{ post.date_published}}</p>
                                    <h4><a href={{ post.slug }}>{{ post.title }}</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="product__pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a>
                        {% endif %}
                        {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                        <a href="#" class="current-page">{{ p }}</a>
                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                        <a href="?page={{ p }}">{{p}}</a>
                        {% endif%}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a>
                        {% endif %}
                </div>

            </div>
        </div>
    </section>
{% endblock %}