{% extends  'ani_app/base.html' %}
{% load static %}

{% block content %}



    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'main' %}"><i class="fa fa-home"></i> Home</a>
                        <a href="{% url 'categories_list' %}">Categories</a>
                        <span>{{ cat }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Section Begin -->
    <section class="product-page spad">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    <div class="product__page__content">
                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-6">
                                    <div class="section-title">
                                        <h4>{{ cat }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for serial in serials %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg={{ serial.image.url }}>
                                        <div class="ep">18 / 18</div>
                                        <div class="comment"><i class="fa fa-comments"></i> {{ serial.count_comments }}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{ serial.views }}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            {% for cat in serial.category.all %}
                                            <li>{{ cat.title }}</li>
                                            {% endfor %}
                                        </ul>
                                        <h5><a href={{ serial.slug }}/>{{ serial.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top Views</h5>
                            </div>
                            {% for blog in blogs %}
                            <div class="filter__gallery">
                                <div class="product__sidebar__view__item set-bg mix day years"
                                data-setbg={{ blog.image.url }}>
                                <div class="ep">{{ blog.date_published}}</div>
                                <div class="view"><i class="fa fa-eye"></i>{{ blog.views }}</div>
                                <h5><a href=blog/{{ blog.slug }}>{{ blog.title }}</a></h5>
                            </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>
                </div>
    </div>
    <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>New Comment</h5>
        </div>
        {% for com in comments %}
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src={{ com.serial.image.url }} alt= width="80" height="120">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    {% for gen in com.serial.category.all %}
                    <li>{{ gen.title }}</li>
                    {% endfor %}
                </ul>
                <h5><a href={{ com.serial.slug }}/>{{ com.text | truncatechars:10 }}</a></h5>
                <span><i class="fa fa-eye"></i> {{ com.serial.views }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}