{% extends  'ani_app/base.html' %}
{% load static %}

{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                {% for serial in serials %}
                <div class="hero__items set-bg" data-setbg={{ serial.image.url }}>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">{{serial.genre}}</div>
                                <h2>{{serial.title}}</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href={{ serial.slug }}/><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Trending Now</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href={{ trend_now_slug  }} class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           {% for ser in trend_now %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg={{ ser.image.url }}>
                                        <div class="ep">18 / 18</div>
                                        <div class="comment"><i class="fa fa-comments"></i> {{ ser.count_comments}}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{ ser.views }}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            {% for cat in ser.category.all %}
                                            <li>{{ cat.title }}</li>
                                            {% endfor %}
                                        </ul>
                                        <h5><a href={{ ser.slug }}/>{{ ser.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Popular Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href={{ popular_show_slug }} class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                           {% for ser in popular_show %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg={{ ser.image.url }}>
                                        <div class="ep">18 / 18</div>
                                        <div class="comment"><i class="fa fa-comments"></i> {{ ser.count_comments}}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{ ser.views }}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            {% for cat in ser.category.all %}
                                            <li>{{ cat.title }}</li>
                                            {% endfor %}
                                        </ul>
                                        <h5><a href={{ ser.slug }}/>{{ ser.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}


                        </div>
                    </div>

                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Top views</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href={{ top_viws_slug }} class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for ser in top_viws %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg={{ ser.image.url }}>
                                        <div class="ep">18 / 18</div>
                                        <div class="comment"><i class="fa fa-comments"></i> {{ ser.count_comments}}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{ ser.views }}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            {% for cat in ser.category.all %}
                                            <li>{{ cat.title }}</li>
                                            {% endfor %}
                                        </ul>
                                        <h5><a href={{ ser.slug }}/>{{ ser.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top Views Blogs</h5>
                            </div>
                            {% for blog in blogs %}
                            <div class="filter__gallery">
                                <div class="product__sidebar__view__item set-bg mix day years"
                                data-setbg={{ blog.image.url }}>
                                <div class="ep">{{ blog.date_published}}</div>
                                <div class="view"><i class="fa fa-eye"></i> {{ blog.views }}</div>
                                <h5><a href=blog/{{ blog.slug }}>{{ blog.title }}</a></h5>
                            </div>
                                {% endfor %}

                        </div>
                    </div>
                  </div>
    <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>New Comment</h5>
        </div>
        {% for com in comments %}
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src={{ com.serial.image.url }} alt= width="80" height="120">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    {% for gen in com.serial.category.all %}
                        <li>{{ gen.title }}</li>
                    {% endfor %}
                </ul>
                <h5><a href={{ com.serial.slug }}/>{{ com.text | truncatechars:10 }}</a></h5>
                <span><i class="fa fa-eye"></i> {{ com.serial.views }}</span>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}